    <!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notaría 26 de Bogotá D.C.</title>
    <meta name="description" content="La pagina de la Notaría 26 de Bogotá es un espacio que busca acercar la propuesta de valor de la notaría al siglo 21, brindandole al usuario información relevante acerca de turnos, horarios y servicios notariales de manera digital">
    <meta name="keywords" content="notaría, supernotariado, servicios notaría, autenticaciones, escrituras, cannedhead, compraventa, rentas y registro, sueprintendencia de notariado y registro, registro civil, matrimonios, oscar martinez">
    <meta name="author" content="ThemeForces.com">
    
    <!-- Favicons
    ================================================== 
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png"> -->

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">


    <!-- Slider
    ================================================== -->
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hidden-xs" href="index.html">Notaría <span class="logo-square">26</span> de Bogotá D.C.</a>
          <a class="navbar-brand visible-xs" href="index.html">Notaría <span class="logo-square">26</span> de Bogotá</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#tf-home" class="page-scroll">Inicio</a></li>
            <li><a href="#tf-about" class="page-scroll hidden">Quienes Somos</a></li>
            <li><a href="#tf-team" class="page-scroll hidden">Nuestro Equipo</a></li>
            <li><a href="#tf-services" class="page-scroll">Servicios</a></li>
            <li><a href="#tf-works" class="page-scroll hidden-xs">Tramites</a></li>
            <li><a href="#tf-testimonials" class="page-scroll">Horarios & Turnos</a></li>
            <li><a href="#tf-contact" class="page-scroll">Contacto</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <h1 class='hidden-xs'>
                    <strong>
                        Notaría Veintiséis
                        <span class="logo-square">26</span> 
                        <span class="color"> 
                            del Círculo de Bogotá D.C.
                        </span>
                    </strong>
                </h1>
                <h1 class='visible-xs'>
                    <strong>
                        Notaría 
                        <span class="logo-square">26</span> 
                        <span class="color"> 
                            de Bogotá
                        </span>
                    </strong>
                </h1>
                <p class="lead hidden">Servicios <strong>notariales</strong> con <strong>seguridad</strong> jurídica.</p>
                <div class="section-title center" style='margin-top: -56px'>
                    <div class="line">
                    </div>
                </div>
                <p class="lead" style='margin-top: -20px;'>Carrera 12 #93-26, PBX: 621 44 21</p>
                <p class="lead" style='margin-top: -15px;'><strong>Horario de atención:</strong></p>
                <p class="lead" style='margin-top: -20px;'> Lunes a viernes 8:00 am - 5:00 pm jornada continua</p>
                <p class="lead" style='margin-top: -20px;'><a href="#tf-testimonials" style="color:#444;" class="page-scroll">Sábados de turno de 9:00 am a 1:00 pm </a></p>
                <a href="#tf-about" class="fa fa-angle-down page-scroll hidden-xs" style='margin-top: 90px !important'></a>
            </div>
        </div>
    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-about" class='hidden-xs'>
        <div class="overlay">
            <div class="container hidden">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://s3.amazonaws.com/cannedhead.notaria26bogota/quienes_somos.svg" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <div class="about-text">
                            <div class="section-title">
                                <h4>Quienes Somos</h4>
                                <h2>Misión &amp; <strong>Visión</strong></h2>
                                <hr>
                                <div class="clearfix"></div>
                            </div>
                            <p class="intro">Notaría 26 de Bogotá D.C.</p>
                            <ul class="about-list">
                                <li>
                                    <span class="fa fa-dot-circle-o"></span>
                                    <strong>Misión</strong> - <em>Prestar un servicio orientado a la mayor seguridad jurídica de los actos que en ella se realicen, bajo altos estándares de eficiencia, agilidad y calidad, en forma que genere una alta satisfacción en los usuarios.</em>
                                </li>
                                <li style='margin-top: 5%'>
                                    <span class="fa fa-dot-circle-o"></span>
                                    <strong>Visión</strong> - <em> Nos proyectamos como institución integrada por un equipo humano ético, altamente calificado y comprometido con un servicio amable y de calidad, que sea un modelo de desarrollo tecnológico y de innovación en cada una de las áreas de servicio notarial, y que genere un reconocimiento positivo por los usuarios.</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team Page
    ==========================================-->
    <div id="tf-team" class="text-center hidden">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2>Conoce <strong>nuestro equipo</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>

                <div id="team" class="owl-carousel owl-theme row">

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/01.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Dr Oscar Martinez</h3>
                                <p>Notario</p>
                                <p>Tel +571 6214421 Ext 101</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Claudia</h3>
                                <p>Secretaria Despacho</p>
                                <p>Tel +571 6214421 Ext 101</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/03.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Miguel</h3>
                                <p>Radicación</p>
                                <p>Tel +571 6214421 Ext 102</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/01.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jairo</h3>
                                <p>Radicación</p>
                                <p>Tel +571 6214421 Ext 102</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/03.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>William Martinez</h3>
                                <p>Auntenticaciones - Caja</p>
                                <p>Tel +571 6214421 Ext 103</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Bibiana</h3>
                                <p>Auntenticaciones - Caja</p>
                                <p>Tel +571 6214421 Ext 103</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Sonia</h3>
                                <p>Auntenticaciones - Caja</p>
                                <p>Tel +571 6214421 Ext 103</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/01.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Gabriel</h3>
                                <p>Digitación</p>
                                <p>Tel +571 6214421 Ext 104</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Doris</h3>
                                <p>Digitación</p>
                                <p>Tel +571 6214421 Ext 104</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Carmenza</h3>
                                <p>Digitación</p>
                                <p>Tel +571 6214421 Ext 104</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Nohora</h3>
                                <p>Digitación</p>
                                <p>Tel +571 6214421 Ext 104</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>


                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Dra Martha Lopez</h3>
                                <p>Secretaría General</p>
                                <p>Tel +571 6214421 Ext 105</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Mercedes</h3>
                                <p>Cafeteria</p>
                                <p>Tel +571 6214421 Ext 106</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Andrea Bojacá</h3>
                                <p>Asistente Administrativa</p>
                                <p>Tel +571 6214421 Ext 107</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Gloria Castillo</h3>
                                <p>Registro Civil</p>
                                <p>Tel +571 6214421 Ext 108</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Dra. Lijia </h3>
                                <p>Asesoria Juridica</p>
                                <p>Tel +571 6214421 Ext 110</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Dra. Gladys </h3>
                                <p>Asesoria Juridica</p>
                                <p>Tel +571 6214421 Ext 110</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Dra. Valery </h3>
                                <p>Asesoria Juridica</p>
                                <p>Tel +571 6214421 Ext 110</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Yineth</h3>
                                <p>Protocolo - Fotocopiadora</p>
                                <p>Tel +571 6214421 Ext 111</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Milena</h3>
                                <p>Protocolo - Fotocopiadora</p>
                                <p>Tel +571 6214421 Ext 111</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/03.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Manuel</h3>
                                <p>Liquidación</p>
                                <p>Tel +571 6214421 Ext 115</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenny</h3>
                                <p>Asistente de Secretaría</p>
                                <p>Tel +571 6214421 Ext 121</p>
                                <p>notaria@notaria26bogota.com</p>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>

    <!-- Services Section
    ==========================================-->
    <div id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>Nuestros <strong>Servicios</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <medium><em> Los servicios de la Notaría 26 de Bogotá D.C.</em></medium>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-4 col-sm-6 service">
                    <i class="fa fa-file-text"></i>
                    <h4><strong>Trámites Notariales</strong></h4>
                    <p> Encontrará mayor información sobre la oferta de trámites notariales y sus requisitos <a href="#tf-works" style='cursor:pointer;'>Aqui</a>.</p>
                </div>

                <div class="col-md-4 col-sm-6 service">
                    <i class="fa fa-home"></i>
                    <h4><strong>Ventanilla Unica de Registro</strong></h4>
                    <p> El servicio VUR (Ventanilla Única de Registro), le facilitará el proceso de registro de inmuebles en las notarias del país.</p>
                </div>

                <div class="col-md-4col-sm-6 service">
                    <i class="fa fa-eye"></i>
                    <h4><strong>Identificación Biométrica</strong></h4>
                    <p> Seguridad jurídica en sus transacciones a través del sistema de identificación y autenticación de credenciales biométricas.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Aliados Section
    ==========================================-->
    <div id="tf-clients" class="text-center hidden-xs">
        <div class="overlay">
            <div class="container">

                <div class="section-title center">
                    <h2> Algunos de <strong>nuestros Aliados</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div id="clients" class="owl-carousel owl-theme">

                    <div class="item">
                        <a href='http://www.supernotariado.gov.co/' target="_blank">
                            <img src="img/logos/super1-bw.png" style='height:100px; margin-top:22px'>
                        </a>
                    </div>                    
                    <div class="item">
                        <a href='http://www.registraduria.gov.co/' target="_blank">
                            <img src="img/logos/registraduria-bw.png" style='height:118px;'>
                        </a>
                    </div>  
                    <div class="item">
                        <a href='http://unioncolegiadadelnotariadocolombiano.com/sitio/' target="_blank">
                            <img src="img/logos/ucnc1-bw.png" style='height:118px; margin-left:-40px'>
                        </a>
                    </div>
                    <div class="item">
                        <a href='http://unobog.com/' target="_blank">
                            <img src="img/logos/unobog-bw.png" style='height:118px; margin-left: -48px'>
                        </a>
                    </div>                      
                    <div class="item">
                        <a href='http://estrategia.gobiernoenlinea.gov.co/623/w3-channel.html' target="_blank">
                            <img src="img/logos/gobiernoenlinea-bw.png" style='height:118px;'>
                        </a>
                    </div>                      
                </div>
            </div>
        </div>
    </div>

    <!-- Tramites Notariales
    ==========================================-->
    <div id="tf-works" class='hidden-xs'>
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h2>Trámites <strong>notariales</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <medium><em>Lo invitamos a consultar nuestra sección de trámites notariales. Aqui podrá consultar los requisitos básicos e información general sobre los tŕamites más comunes que pueden ser realizados en una notaría.</em></medium>
            </div>
            <div class="space"></div>

            <div class="categories">
                
                <ul class="cat">
                    <li class="pull-left"><h4>Filtrar por Tipo:</h4></li>
                    <li class="pull-right">
                        <ol class="type">
                            <li><a href="#" data-filter="*" class="active">Todos</a></li>
                            <li><a href="#" data-filter=".matrimonio">Matrimonios</a></li>
                            <li><a href="#" data-filter=".sucecion">Suceciones</a></li>
                            <li><a href="#" data-filter=".sociedad" >Sociedades</a></li>
                            <li><a href="#" data-filter=".registro" >Registros Civiles</a></li>
                        </ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div id="lightbox" class="row">

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Autenticaciones</h4>
                                    <small>Testimonio de autenticidad</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="https://s3.amazonaws.com/cannedhead.notaria26bogota/boton-autenticacion.svg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography matrimonio">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Matrimonios</h4>
                                    <small>Matrimonio Civil</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="https://s3.amazonaws.com/cannedhead.notaria26bogota/boton-matrimonios.svg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Escrituración</h4>
                                    <small>Otros trámites</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="https://s3.amazonaws.com/cannedhead.notaria26bogota/boton-escrituración.svg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding sucecion">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sucesiones</h4>
                                    <small>Solemnización de la sucesión</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="https://s3.amazonaws.com/cannedhead.notaria26bogota/boton-sucesiones.svg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 matrimonio">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Divorcios</h4>
                                    <small>Cesación de Efectos Civiles y/o Divorcio</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="https://s3.amazonaws.com/cannedhead.notaria26bogota/boton-divorcios.svg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 sociedad">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Remates</h4>
                                    <small>Tarifa administrativa o por adjudicación</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="https://s3.amazonaws.com/cannedhead.notaria26bogota/boton-remates.svg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography sociedad">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Conciliaciones</h4>
                                    <small>Acta de Acuerdo conciliatorio o constancia</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="https://s3.amazonaws.com/cannedhead.notaria26bogota/boton-conciliaciones.svg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 registro">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Registro Civil</h4>
                                    <small>Registro Civil de Nacimiento</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="https://s3.amazonaws.com/cannedhead.notaria26bogota/boton-registro-civil.svg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Horarios & Sabados de turno
    ==========================================-->
    <div id="tf-testimonials" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2><strong> horarios </strong> &amp turnos</h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="testimonial" class="owl-carousel owl-theme">
                            <div class="item">
                                <h5>Horario de atención:</h5>
                                <p style='margin: 11px 0px'><strong> Lunes a viernes</strong>, 8:00 am - 5:00 PM jornada continua</p>
                                <p style='margin: 11px 0px'><strong>Sábados de turno</strong>, de 9:00 am a 1:00 pm.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="main">
                          <li class="date">
                            <h3>2015</h3>
                            <p>Sábados de Turno</p>
                          </li>
                          <li class= "events">
                            <ul class="events-detail">

                              <li>
                                <a href="https://www.supernotariado.gov.co/portalsnr/images/archivosupernotariado/Normatividad2014/Resoluciones/resol13683de2014.pdf" target="_blank">
                                  <span class="event-time"> 24/10/15 - </span>
                                  <span class="event-name">24 de Octubre del 2015</span>
                                  <br/>
                                  <br/>
                                </a>
                              </li>
                               
                               <li>
                                <a href="https://www.supernotariado.gov.co/portalsnr/images/archivosupernotariado/Normatividad2014/Resoluciones/resol13683de2014.pdf" target="_blank">
                                  <span class="event-time"> 28/11/15 - </span>
                                  <span class="event-name">28 de Noviembre del 2015</span>
                                  <br/>
                                  <br/>
                                </a>
                              </li>

                            </ul>  
                          </li>

                          <li class="date">
                            <h3>2016</h3>
                            <p>Sábados de Turno</p>
                          </li>
                          <li class= "events">
                            <ul class="events-detail">
                              <li>
                                <a href="https://www.supernotariado.gov.co/portalsnr/images/archivosupernotariado/Normatividad2014/Resoluciones/resol13683de2014.pdf" target="_blank">
                                  <span class="event-time"> 02/01/16 - </span>
                                  <span class="event-name">02 de Enero del 2016</span>
                                  <br/>
                                  <br/>
                                </a>
                              </li>

                            </ul>  
                          </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section
    ==========================================-->
    <div id="tf-contact" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2 class='visible-xs'><strong>Contáctenos</strong></h2>
                        <h2 class='hidden-xs'>Lo invitamos a <strong>contactarnos</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <medium><em> Si tiene alguna duda y desea presentarla por escrito puede escribirnos un mensaje en el siguiente formulario. Uno de nuestros trabajadores estará complacido de satisfacer sus preguntas respecto a cualquier trámite que pueda ser adelantado en la Notaría 26 de Bogotá D.C.</em></medium>            
                    </div>

                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4 class='modal-title text-success success-modal text-center hidden' id='contactSuccess'></h4>
                                    <h4 class='modal-title text-danger danger-modal text-center hidden' id='contactError'></h4>
                                    <input type="email" id='email' name='email' class="form-control" id="exampleInputEmail1" placeholder="Correo electrónico">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id='message' name='message' rows="3" placeholder='Escriba aqui sus inquetudes, dudas o sugerencias'></textarea>
                        </div>
                        
                        <button type="submit" id='contactBtn' class="btn tf-btn btn-default">Enviar</button>
                        <div class='spinner' id='contactSpinner'>
                            <div class='bounce1'></div>
                            <div class='bounce2'></div>
                            <div class='bounce3'></div>                                    
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>TODOS LOS DERECHOS RESERVADOS. COPYRIGHT © 2015.</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social hidden">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <script src="js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69356302-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>